---
import "src/styles/global.css";

import SiteSearch from "@/components/SiteSearch.astro";
import MetaTags from "@/components/MetaTags.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <slot name="metadata">
      <MetaTags />
    </slot>
  </head>
  <body class="dark max-w-full overflow-x-hidden">
    <slot />

    <SiteSearch />

    <!-- Global scripts -->
    <script src="src/scripts/popover.ts"></script>
    <script src="src/scripts/imageZoom.js"></script>
    <script src="src/scripts/copyClipboard.js"></script>

    <!-- Umami Analytics -->
    {
      process.env.NODE_ENV === "production" && (
        <script async src="https://analytics.spacemadness.dev/script.js" data-website-id="f0600944-4cce-4be9-a992-2b39b7976c2d"></script>
      )
    }
  </body>
</html>
